*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    cursor:default;
}

body {
    font-family: Microsoft Yahei,"微软雅黑";
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 16px;
    background-color: #f5bd4e;
    overflow: hidden;
}

#title {
    color: white;
    cursor: default;
    position: relative;
    transition: height 2s ease 1s;
    height: 50px;
    width: 320px;
    overflow: hidden;
}
#title:hover {
    height: 140px;
}
#title h1 {
    opacity: 0.25;
    transition-duration: 1s;
    display: inline-block;
}
#title:hover h1 {
    opacity: 0.5;
}
#title:hover h1:hover {
    opacity: 1;
}

#title .more_detail {
    color: #e55756;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 55px;
    width: 320px;
}




.show {
    width: 590px;
    position: absolute;
    right: 8%;
    top: 3%;
    z-index: 100;
}
table {
    color: white;
    text-align: center;
    position: relative;
}

table td {
    display:inline-block;
    margin:0 15px;
    line-height: 52px;
    width: 52px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition-duration: 1s;
}
table td:hover {
    background-color: #e55756;
}
table td:hover h6{
    opacity: 1;
}

table tr h4{
    font-weight: 100;
    font-size: 37px;
}
table tr h6 {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 36px;
    font-size: 16px;
    color: #e55756;
    opacity: 0;
    transition:opacity 1s;
}

#ao_soft tr h4,#ao_hard tr h4{
    font-size: 26px;
}



#info {
    position: absolute;
    right: 76px;
    top: 12px;
    color: white;
    cursor: default;
}
#info span {
    transition: 1s;
}
#info span:hover {
    color: #e55756;
}
#info span.selected{
    animation: change 1s linear;
}

@keyframes change{
    0%{color:#fff;}
    50% {color:#e55756;}
    100% {color:#fff;}
}
    
.select1, .select2 {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 50px;

}

.select1 {
    right: 0;
}
.select2 {
    right: -50px;
}

.select1 div,.select2 div{
    background-color: rgba(255, 255, 255,0.3);
    color:transparent;
    flex: 1;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
}
.select1 div:hover,.select2 div:hover {
    background-color: white;
}
.select1 .selected,.select2 .selected{ 
    background-color: rgba(255, 255, 255,0.75);
}

#qing_hard,#zhuo_detail,#ao_detail {
    display: none;
}

.note {
    background-color: rgba(255, 246, 193,0.7);
    padding: 30px;
    position: relative;
    width: 350px;
    color: #4e4562;
    transform: rotate(-1deg);
    top: 10%;
    left: 6%;
    opacity: 0.9;
    z-index: 1000;
}

.note .note_detail {
    margin-bottom: 20px;
}
.note h1,.note h3,.note #idea_detail {
    display: inline-block;
}

.note #note_main,.note #idea {
    font-size: 74px;
    color: #e55756;
}
.note #note_main {
    font-size: 82px;
    transition: 2s;
    cursor: default;
}
.note #order{
    position: absolute;
    top: 34px;
    left: 14px;
    width: 110px;
    display: none;
    opacity: 0;
    transition: opacity 2s;
    cursor: default;
    display: block;
}
.note .note_title:hover h1{
    opacity: 0;
}

.note #note_aside {
    font-size: 50px;
}
.note #spell {
    position: absolute;
    font-size: 22px;
    top: 46px;
    left: 116px;
    display: block;
    text-align: center;
    width: 50px;
}

.note p {
    font-size: 16px;
}

.note #order img {
    width: 110px;
}
.note #idea_detail {
    position: absolute;
    top: 150px;
    left: 120px;
    width: 200px;
    height: 86px;
    overflow: hidden;
}

.note .word {
    position: relative;
    color: #e55756;
    text-align: center;
}

.note .word .word_spell,.note .word #word{
    width: 70px;
}
.note .word #word_detail {
    position: absolute;
    bottom: 0;
    left: 130px;
    width: 150px;
    text-align: left;
    font-weight: bold;
}
.note #word{
    color: #4e4562;
    font-weight: bolder;
}
.note .word,.note #word {
    width: 120px;
}
.note .sticky1,.note .sticky2{
    background-color: rgba(255, 255, 255,0.5);
    width: 120px;
    height: 40px;
    position: absolute;
    transform: rotate(-30deg);
}
.note .sticky1 {
    left: -34px;
    top: 0;
}
.note .sticky2 {
    bottom: -2px;
    right: -45px;
}

#backchar {
    color: rgba(255, 255, 255,0.18);
    position: absolute;
    top: 0;
    right: 230px;
    font-size: 430px;
    z-index: 0;
    transition: 1s;
}

@media screen and (max-width: 1064px) {
    .note {
        background-color: #fff6c1;
        opacity: 1;
    }
}
/*

#title:hover .contact {
    opacity: 1;
}

#title:hover #more {
    display: block;
}

.social {
    background-color: #f73b34;
    width: 40px;
    height: 40px;
    transition: 1s;
    display: inline-block;
    margin-right: 3px;
    border-bottom: none;
    border-radius: 20px;
    opacity: 0.25;
}
.social:hover {
    background-color: #105150;
    border-radius: 0;
}

.social-twitter {
    background-position: 0 0;
}
.social-facebook {
    background-position: -40px 0;
}

#more {
    display: none;
    font-size: 12px;
}

*/













